*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: pink;
}
.btn{
    position: absolute;
    top: 230px;
    left: 1250px;
    width: 100px;
    height: 40px;
}
.btn ul{
    list-style: none;
    display: flex;
}
.btn li a{
    padding: 10px 10px;
}
.btn li label{
    padding: 10px 10px;
}
a, a:hover{
    text-decoration: none;
}
nav{
    position: relative;
    left: 150px;
    background: black;
    width: 1250px;
    padding: 5px 40px;
    display: flex;
    align-items: center;
    scrollbar-width: none;
    border-radius: 25px;
}
nav a{
    color: #fff;
}
.logo {
    flex: 1;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: 20px;
}
.logo a:hover{
    color: #fff;
}
.logo img{
    width: 180px;
    margin-right: 10px;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0px 25px;
}
.menu li{
    padding: 15px 10px;
    font-size: 16px;
}
.menu li ul.dropdown li{
    display: block;
}
.menu li ul.dropdown{
    border-radius: 25px;
    width: 100px;
    background: black;
    position: absolute;
    z-index: 999;
    display: none;
}
.menu li:hover ul.dropdown{
    display: block;
}
.menu li ul.dropdown li:hover{
    cursor: pointer;
}
.toggle{
    font-size: 30px;
    display: none;
}
@media screen and (max-width: 600px){
    nav{
        display: block;
        position: relative;
        padding: 15px 20px;
    }
    .menu{
        margin-top: 15px;
        display: none;
    }
    .menu.active, .toggle{
        display: block;
    }
    .toggle{
        position: absolute;
        top: 25px;
        right: 20px;
    }
}
.search{
    --padding: 24px;


    position: relative;
    top: 10px;
    left: 26%;
    width: 650px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    border: 1px solid black;
    background: #f6f6f6;
}
.search-input{
    font-size: 20px;
    font-family: 'Lexend', sans-serif;
    color: #333333;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: #f6f6f6;
    width: 600px;
}
.search-input::placeholder,
.search-icon{
    color: rgba(0,0,0,0.5);
}
.search-icon:hover{
    cursor: pointer;
}
ul.big-menu{
    position: relative;
    top: 20px;
    left: 10%;
    display: flex;
    list-style: none;
}
ul.big-menu li h2{
    padding: 25px 5px;
    color: white;
}
ul.big-menu li ul{
    padding: 5px 85px;
}
ul.big-menu li ul li{
    display: block;
    margin: auto;
    list-style: none;
    left: 0%;
    padding: 6px 1px;
}
ul.big-menu li ul li a{
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
}
ul.big-menu li ul li a:hover{
    opacity: 1;
    border: 2px solid black;
    background: blue;
    cursor: pointer;
}
.scaled{
    position: relative;
    left: 150px;
    width: 500px;
    height: 250px;
    transition: transform 0.3s ease;
    border-radius: 25px;
}